---
---
iframe {
  height: 75vh;
  width: 100%;
}

.hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

$primary: #333333;
// Import Main CSS file from theme
@import "main";